i
/.git_ux/
i
/hyper_fit.out
/logs/fit/
/logs/results/20241105-145615/
/src/__init__.py
/src/__init__.pyZone.Identifier
/src/__pycache__/
/src/cardiac_rythm.egg-info/
/src/cardiac_rythm/__pycache__/
/tf_setup.out
/.gitignore_old
